@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

a {
  color: #fff;
  background: transparent;
  font-size: 1em;
  border: 2px solid #fff;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 3px;
  margin: 0 10px;
  padding: 7px 15px;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  color: #000;
  background: #fff;
}

a:focus {
  outline: transparent;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at 50% 20%, #131131 0%, #000 100%);
  scroll: none;
  /* background:url("https://papers.co/wallpaper/papers.co-vf12-abstract-line-dark-minimal-graphic-pattern-36-3840x2400-4k-wallpaper.jpg"); 
    
    background-position: center;
    background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 90vw;
}

.result-left {
  order: 1;
  background: red;
  flex-basis: 100%;
  height: 40vh;
}

.result-middle {
  order: 3;
  background: green;
  flex-basis: 100%;
  height: 40vh;
}

.result-right {
  order: 2;
  background: yellow;
  flex-basis: 100%;
  height: 40vh;
}

@media screen and (min-width:600px) {
  .result-container {
    flex-wrap: nowrap;
    width: 90vw;
  }
}

.glowing-text {
  font-size: 4em;
  text-align: center;
  font-weight: normal;
  font-family: 'Fredoka One', cursive;
  background: -webkit-linear-gradient(#fff, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: name 3s infinite ease-in-out;
}

.speech-input {
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(#fff, #7e1671);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  margin-bottom: 50px;
}

.speech-output {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(#fff, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

@keyframes name {
  50% {
    text-shadow: #fefefeb3 1px 0 10px;
  }
}

.btns {
  margin-top: 50px;
  text-align: center;
}

.voice-button {
  margin-top: 50px;
  padding-bottom: 25px;
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.voice-button:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.voice-button-icon {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 80px;
  height: 80px;
  color: #1a1a1a;
  background: #fff;
  border-radius: 50%;
  border: none;
  -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}
.voice-button-icon:hover {
  box-shadow: 0 0 1px 15px rgba(223, 92, 240, 0.4),
    0 0 1px 30px rgba(223, 92, 240, 0.1), 0 0 1px 45px rgba(223, 92, 240, 0.1);
}

.input-question {
  margin-top: 50px;
  text-align: center;
}
.hint-box {
  position: relative;
  font-family: 'Barlow Condensed', sans-serif;
  max-width: 620px;
  margin: 40px auto;
  align-self: center;
}

.hint-box h1 {
  position: relative; /* for pseudos */
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius: 20px;
  padding: 15px;
}

.hint-box h1:after {
  content: '';
  position: absolute;
  border: 2px solid #fff;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.hint-box h1:before {
  content: '';
  position: absolute;
  width: 80px;
  border: 6px solid #0a0919;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

@media all and (min-width: 600px) {
  .hint-box h1 {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 25px;
  }
}

.hint-box h4 {
  position: relative;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left: 150px;
  padding-left: 12px;
}

.hint-box h4:first-letter {
  margin-left: -12px;
}

.question_label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.question_input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 60%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.question_input:placeholder-shown + .question_label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.star-box div {
  color: white;
  position: absolute;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.star-box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: bkg 10s linear infinite;
}

.star-box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: bkg 7s linear infinite;
}

.star-box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: bkg 9s linear infinite;
}

.star-box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: bkg 10s linear infinite;
}

.star-box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: bkg 6s linear infinite;
}

.star-box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: bkg 12s linear infinite;
}

.star-box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: bkg 15s linear infinite;
}

.star-box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: bkg 16s linear infinite;
}

.star-box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: bkg 9s linear infinite;
}

.star-box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: bkg 5s linear infinite;
}

@keyframes bkg {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(5) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
